.fatherBar {
    width: 50%;
    background-color: rgb(88, 88, 88);
    border-radius: 8px;
}

.childrenBar {
    width: 5%;
    padding: .5rem;
    background-color: rgb(43, 255, 0);
    border-radius: 8px;
    animation-name: loading;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: 2;
}


@keyframes loading {
    0% {
        width: 5%;
    }
    25% {
        width: 20%;
    }
    50% {
        width: 48%;
    }
    75% {
        width: 67%;
    }
    100% {
        width: 98%;
    }
}